* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  font-family: "Red Hat Display", sans-serif;
}

.container {
  max-width: 90%;
  margin: 0 auto;
}

header {
  width: 100%;
  height: 90px;
  background-color: #F2ECE7;
  position: fixed;
  top: 0;
  z-index: 10;
}
header .container .header-content {
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .container .header-content nav ul {
  display: flex;
  align-items: center;
}
header .container .header-content nav ul li {
  margin-left: 30px;
}
header .container .header-content nav ul li a {
  color: #000;
  font-size: 16px;
  font-family: "Red Hat Display", sans-serif;
}
header .container .header-content .cart ul {
  display: flex;
  align-items: center;
}
header .container .header-content .cart ul li {
  margin-left: 25px;
}
header .container .header-content .cart ul li a {
  color: #000;
}
header .container .header-content .cart ul .cart-icon {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #FF860D;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .container .header-content .cart ul .cart-icon a {
  color: white;
  font-size: 18px;
}
header .container .header-content .menu {
  display: none;
  color: #FF860D;
  font-size: 25px;
}

main #home {
  margin-top: 90px;
  padding-top: 20px;
  height: 160vh;
  background-color: #F2ECE7;
}
main #home .container .home-content {
  height: 160vh;
  width: 100%;
  position: relative;
}
main #home .container .home-content .product-item-left-top {
  width: 144px;
  position: absolute;
  top: 0;
  left: 0;
}
main #home .container .home-content .product-item-left-top img {
  border-radius: 50%;
}
main #home .container .home-content .product-item-left-top p {
  text-align: center;
  color: #403C3C;
  font-size: 16px;
}
main #home .container .home-content .home-text {
  width: 830px;
  position: absolute;
  top: 0;
  left: 240px;
}
main #home .container .home-content .home-text p {
  font-size: 120px;
  color: #413E3C;
}
main #home .container .home-content .home-text p span {
  color: #FF6F0F;
}
main #home .container .home-content .product-item-right-top {
  position: absolute;
  top: 20px;
  right: 30px;
}
main #home .container .home-content .home-logo {
  position: absolute;
  right: 300px;
  top: 350px;
}
main #home .container .home-content .product-item-left-bottom {
  position: absolute;
  left: 0;
  bottom: 230px;
}
main #home .container .home-content .product-item-left-bottom .first-image {
  position: relative;
}
main #home .container .home-content .product-item-left-bottom .second-image {
  position: absolute;
  top: 50px;
  left: 170px;
}
main #home .container .home-content .product-item-left-bottom ul {
  margin-top: 10px;
  display: flex;
  align-items: center;
}
main #home .container .home-content .product-item-left-bottom ul li {
  margin-right: 10px;
}
main #home .container .home-content .product-item-left-bottom ul li a {
  color: #FF6F0F;
  font-size: 24px;
}
main #home .container .home-content .product-item-left-bottom ul .icon {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: #FF6F0F;
  display: flex;
  justify-content: center;
  align-items: center;
}
main #home .container .home-content .product-item-left-bottom ul .icon a {
  color: white;
}
main #home .container .home-content .product-item-right-bottom {
  position: absolute;
  bottom: 260px;
  right: 370px;
}
main #home .container .home-content .product-item-right-bottom img {
  position: relative;
  margin-bottom: 30px;
}
main #home .container .home-content .product-item-right-bottom p {
  position: absolute;
  left: 150px;
  bottom: 0;
  width: 420px;
  font-size: 18px;
  color: #403C3C;
}
main #home .container .home-content .home-social {
  position: absolute;
  right: 0;
  top: 40%;
}
main #home .container .home-content .home-social ul {
  display: flex;
  flex-direction: column;
}
main #home .container .home-content .home-social ul li {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid #FF6F0F;
  background-color: #F2ECE7;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
main #home .container .home-content .home-social ul li a {
  color: #535353;
}
main #home .container .home-content .home-shop {
  position: absolute;
  bottom: 200px;
  right: 0;
}
main #home .container .home-content .home-shop ul {
  display: flex;
  align-items: center;
}
main #home .container .home-content .home-shop ul li {
  margin-right: 10px;
}
main #home .container .home-content .home-shop ul li a {
  color: #FF6F0F;
  font-size: 24px;
}
main #home .container .home-content .home-shop ul .icon {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: #FF6F0F;
  display: flex;
  justify-content: center;
  align-items: center;
}
main #home .container .home-content .home-shop ul .icon a {
  color: white;
}
main #product {
  height: 100vh;
}
main #product .container .product-content {
  height: 100vh;
  display: flex;
}
main #product .container .product-content .product-image {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
main #product .container .product-content .product-text {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
main #product .container .product-content .product-text h2 {
  font-size: 64px;
  color: #413E3C;
  font-weight: 400;
}
main #product .container .product-content .product-text .line {
  background-color: #FF6F0F;
  width: 125px;
  height: 2px;
}
main #product .container .product-content .product-text p {
  font-size: 18px;
  color: #403C3C;
  margin-top: 20px;
  margin-bottom: 40px;
}
main #product .container .product-content .product-text .product-total {
  display: flex;
  justify-content: space-around;
  border: 1px solid #FF6F0F;
  border-radius: 10px;
  height: 100px;
  padding: 10px;
}
main #product .container .product-content .product-text .product-total .total-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
main #product .container .product-content .product-text .product-total .total-item h4 {
  color: #403C3C;
  font-size: 20px;
  font-weight: 400;
}
main #product .container .product-content .product-text .product-total .total-item span {
  font-weight: 700;
  color: #FF6F0F;
  font-size: 32px;
}
main #product .container .product-content .product-text .product-total .border-total {
  border-right: 1px solid #FF6F0F;
  border-left: 1px solid #FF6F0F;
  padding: 0 20px;
}
main #about {
  height: 100vh;
  background-color: #F2ECE7;
}
main #about .container .about-content {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
main #about .container .about-content h1 {
  color: #413E3C;
  font-size: 64px;
  font-weight: 400;
  margin-bottom: 20px;
}
main #about .container .about-content h1 span {
  color: #FF6F0F;
}
main #about .container .about-content .about-card {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main #about .container .about-content .about-card .card-item {
  background-color: #fff;
  border-radius: 20px;
}
main #about .container .about-content .about-card .card-item .card-item-title {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 60px;
}
main #about .container .about-content .about-card .card-item .card-item-title li a {
  color: #413E3C;
  font-size: 24px;
}
main #about .container .about-content .about-card .card-item .card-item-title .icon {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: #FF6F0F;
  display: flex;
  justify-content: center;
  align-items: center;
}
main #about .container .about-content .about-card .card-item .card-item-title .icon a {
  color: white;
}
main #store {
  height: 120vh;
  background-color: #fff;
}
main #store .container .store-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 50px 0;
}
main #store .container .store-content .store-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}
main #store .container .store-content .store-title h1 {
  color: #413E3C;
  font-size: 64px;
  font-weight: 400;
}
main #store .container .store-content .store-title h1 span {
  font-size: 64px;
  font-weight: 400;
  color: #FF6F0F;
}
main #store .container .store-content .store-title .store-icon {
  width: 80px;
  display: flex;
  justify-content: space-between;
}
main #store .container .store-content .store-title .store-icon a {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #FF6F0F;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
main #store .container .store-content .store-card {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main #store .container .store-content .store-card .store-card-item {
  display: flex;
  flex-direction: column;
}
main #store .container .store-content .store-card .store-card-item figure img {
  border-radius: 20px;
}
main #store .container .store-content .store-card .store-card-item figure figcaption {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}
main #store .container .store-content .store-card .store-card-item figure figcaption h4 {
  font-size: 24px;
  font-weight: 500;
  color: #413E3C;
}
main #store .container .store-content .store-card .store-card-item figure figcaption span {
  font-size: 24px;
  font-weight: 500;
  color: #FF6F0F;
}
main #store .container .store-content .store-card .store-card-item button {
  border: 1px solid #FF6F0F;
  background-color: white;
  font-size: 18px;
  color: #413E3C;
  padding: 10px;
  cursor: pointer;
  margin-top: 30px;
}

footer {
  height: 100vh;
  background-color: #E3D2C6;
}
footer .footer-content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 100px 0;
}
footer .footer-content .footer-title {
  display: flex;
  flex-direction: column;
  width: 20%;
  height: 450px;
}
footer .footer-content .footer-title .footer-text {
  margin: 20px 0;
}
footer .footer-content .footer-title .footer-text p {
  color: #413E3C;
  font-size: 16px;
}
footer .footer-content .footer-title .footer-social ul {
  display: flex;
}
footer .footer-content .footer-title .footer-social ul li {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid gray;
  background-color: #E3D2C6;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}
footer .footer-content .footer-title .footer-social ul li a {
  color: #535353;
}
footer .footer-content .footer-same-css {
  width: 15%;
  height: 450px;
}
footer .footer-content .footer-same-css h3 {
  color: #2B2B2B;
  font-size: 24px;
  margin-bottom: 15px;
  font-weight: 400;
}
footer .footer-content .footer-same-css ul {
  display: flex;
  flex-direction: column;
}
footer .footer-content .footer-same-css ul li {
  margin-bottom: 10px;
}
footer .footer-content .footer-same-css ul li a {
  font-size: 16px;
  color: #535353;
}
footer .footer-content #contact {
  width: 20%;
  height: 450px;
  display: flex;
  flex-direction: column;
}
footer .footer-content #contact h3 {
  color: #2B2B2B;
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 15px;
}
footer .footer-content #contact ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
footer .footer-content #contact ul li {
  margin-bottom: 10px;
  display: flex;
}
footer .footer-content #contact ul li a, footer .footer-content #contact ul li p {
  color: #535353;
}
footer .footer-content #contact ul li a i, footer .footer-content #contact ul li p i {
  margin-right: 5px;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  header .container .header-content nav {
    display: none;
  }
  header .container .header-content .cart {
    display: none;
  }
  header .container .header-content .menu {
    display: block;
  }
  main #home {
    height: 140vh;
  }
  main #home .container .home-content .home-text {
    width: 100%;
    top: 25%;
    left: 0;
  }
  main #home .container .home-content .home-text p {
    font-size: 50px;
  }
  main #home .container .home-content .product-item-right-top {
    display: none;
  }
  main #home .container .home-content .home-logo {
    display: none;
  }
  main #home .container .home-content .product-item-left-bottom {
    top: 50%;
  }
  main #home .container .home-content .product-item-right-bottom {
    display: none;
  }
  main #home .container .home-content .home-social {
    right: 10px;
    top: 20px;
  }
  main #home .container .home-content .home-shop {
    left: 0;
    top: 80%;
    margin-bottom: 20px;
  }
  main #product {
    height: auto;
  }
  main #product .container .product-content {
    height: auto;
    flex-direction: column;
  }
  main #product .container .product-content .product-image {
    width: 100%;
    margin-top: 20px;
  }
  main #product .container .product-content .product-image img {
    width: 100%;
  }
  main #product .container .product-content .product-text {
    width: 100%;
  }
  main #product .container .product-content .product-text h2 {
    font-size: 50px;
  }
  main #product .container .product-content .product-text .product-total {
    width: 100%;
    padding: 10px;
  }
  main #product .container .product-content .product-text .product-total .total-item {
    padding: 0 10px;
  }
  main #product .container .product-content .product-text .product-total .total-item h4 {
    font-size: 18px;
  }
  main #product .container .product-content .product-text .product-total .total-item span {
    font-weight: 400;
    font-size: 18px;
  }
  main #product .container .product-content .product-text .product-total .border-total {
    padding: 0 10px;
  }
  main #about {
    margin-top: 20px;
    height: auto;
  }
  main #about .container .about-content {
    height: auto;
    width: 100%;
  }
  main #about .container .about-content h1 {
    font-size: 40px;
    text-align: center;
    margin: 20px 0;
  }
  main #about .container .about-content .about-card {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  main #about .container .about-content .about-card .card-item {
    width: 100%;
    margin-bottom: 30px;
  }
  main #about .container .about-content .about-card .card-item img {
    width: 100%;
  }
  main #about .container .about-content .about-card .card-item .card-item-title {
    display: flex;
    flex-direction: column;
    height: 90px;
  }
  main #store {
    height: auto;
  }
  main #store .container .store-content {
    padding: 20px 0;
  }
  main #store .container .store-content .store-title h1 {
    font-size: 30px;
  }
  main #store .container .store-content .store-title h1 span {
    font-size: 30px;
  }
  main #store .container .store-content .store-card {
    flex-direction: column;
    justify-content: center;
  }
  main #store .container .store-content .store-card .store-card-item {
    width: 100%;
    flex-direction: column;
    margin-bottom: 20px;
  }
  main #store .container .store-content .store-card .store-card-item figure img {
    width: 100%;
  }
  footer {
    height: auto;
  }
  footer .container .footer-content {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 30px 0;
  }
  footer .container .footer-content .footer-title {
    width: 100%;
    height: 100%;
  }
  footer .container .footer-content .footer-same-css {
    margin-top: 20px;
    width: 48%;
    height: 270px;
  }
  footer .container .footer-content .footer-same-css ul {
    flex-direction: column;
  }
  footer .container .footer-content #contact {
    width: 100%;
    height: 100%;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  header .container .header-content nav {
    display: none;
  }
  header .container .header-content .cart {
    display: none;
  }
  header .container .header-content .menu {
    display: block;
  }
  main #home {
    height: 190vh;
  }
  main #home .container .home-content {
    height: 190vh;
  }
  main #home .container .home-content .home-text {
    width: 100%;
    top: 25%;
    left: 0;
  }
  main #home .container .home-content .home-text p {
    font-size: 60px;
  }
  main #home .container .home-content .product-item-right-top {
    display: none;
  }
  main #home .container .home-content .home-logo {
    position: absolute;
    right: 0;
    top: 0;
  }
  main #home .container .home-content .product-item-left-bottom {
    bottom: 15%;
    left: 0;
  }
  main #home .container .home-content .product-item-right-bottom {
    display: none;
  }
  main #home .container .home-content .home-shop {
    bottom: 5%;
    left: 0;
  }
  main #product {
    height: auto;
  }
  main #product .container .product-content {
    height: auto;
    flex-direction: column;
  }
  main #product .container .product-content .product-image {
    width: 100%;
    margin-top: 20px;
  }
  main #product .container .product-content .product-image img {
    width: 100%;
  }
  main #product .container .product-content .product-text {
    width: 100%;
  }
  main #product .container .product-content .product-text h2 {
    font-size: 50px;
  }
  main #product .container .product-content .product-text .product-total {
    width: 100%;
    padding: 10px;
  }
  main #product .container .product-content .product-text .product-total .total-item {
    padding: 0 10px;
  }
  main #product .container .product-content .product-text .product-total .total-item h4 {
    font-size: 18px;
  }
  main #product .container .product-content .product-text .product-total .total-item span {
    font-weight: 400;
    font-size: 18px;
  }
  main #product .container .product-content .product-text .product-total .border-total {
    padding: 0 10px;
  }
  main #about {
    width: 100%;
    margin-top: 20px;
    height: auto;
  }
  main #about .container {
    width: 100%;
  }
  main #about .container .about-content {
    height: auto;
    width: 100%;
  }
  main #about .container .about-content h1 {
    font-size: 40px;
    text-align: center;
    margin: 20px 0;
  }
  main #about .container .about-content .about-card {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  main #about .container .about-content .about-card .card-item {
    width: 100%;
    margin-bottom: 30px;
  }
  main #about .container .about-content .about-card .card-item img {
    width: 100%;
  }
  main #about .container .about-content .about-card .card-item .card-item-title {
    display: flex;
    flex-direction: row;
    height: 90px;
  }
  main #store {
    height: auto;
  }
  main #store .container .store-content {
    padding: 20px 0;
  }
  main #store .container .store-content .store-title h1 {
    font-size: 30px;
  }
  main #store .container .store-content .store-title h1 span {
    font-size: 30px;
  }
  main #store .container .store-content .store-card {
    flex-direction: column;
    justify-content: center;
  }
  main #store .container .store-content .store-card .store-card-item {
    width: 100%;
    flex-direction: column;
    margin-bottom: 20px;
  }
  main #store .container .store-content .store-card .store-card-item figure img {
    width: 100%;
  }
  footer {
    height: auto;
  }
  footer .container .footer-content {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 30px 0;
  }
  footer .container .footer-content .footer-title {
    width: 100%;
    height: 100%;
  }
  footer .container .footer-content .footer-same-css {
    margin-top: 20px;
    width: 48%;
    height: 270px;
  }
  footer .container .footer-content .footer-same-css ul {
    flex-direction: column;
  }
  footer .container .footer-content #contact {
    width: 100%;
    height: 100%;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  main #home {
    height: 190vh;
  }
  main #home .container .home-content {
    height: 190vh;
  }
  main #home .container .home-content .home-text {
    width: 100%;
    top: 25%;
    left: 0;
  }
  main #home .container .home-content .home-text p {
    font-size: 60px;
  }
  main #home .container .home-content .product-item-right-top {
    display: none;
  }
  main #home .container .home-content .home-logo {
    position: absolute;
    right: 0;
    top: 0;
  }
  main #home .container .home-content .product-item-left-bottom {
    bottom: 5%;
    left: 0;
  }
  main #home .container .home-content .product-item-right-bottom {
    bottom: 30%;
    left: 0;
    margin-bottom: 20px;
  }
  main #home .container .home-content .home-shop {
    bottom: 5%;
    right: 0;
  }
  main #product .container .product-content {
    flex-direction: row;
  }
  main #product .container .product-content .product-image {
    width: 50%;
    margin-top: 20px;
  }
  main #product .container .product-content .product-image img {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  main #product .container .product-content .product-text {
    width: 50%;
  }
  main #product .container .product-content .product-text h2 {
    font-size: 50px;
  }
  main #product .container .product-content .product-text .product-total {
    width: 100%;
    padding: 10px;
  }
  main #product .container .product-content .product-text .product-total .total-item {
    padding: 0 10px;
  }
  main #product .container .product-content .product-text .product-total .total-item h4 {
    text-align: center;
    font-size: 18px;
  }
  main #product .container .product-content .product-text .product-total .total-item span {
    font-weight: 400;
    font-size: 18px;
  }
  main #product .container .product-content .product-text .product-total .border-total {
    padding: 0 10px;
  }
  main #about {
    width: 100%;
    padding: 20px 0;
    height: auto;
  }
  main #about .container {
    width: 100%;
  }
  main #about .container .about-content {
    height: auto;
    width: 100%;
  }
  main #about .container .about-content h1 {
    font-size: 40px;
    text-align: center;
    margin: 20px 0;
  }
  main #about .container .about-content .about-card {
    flex-direction: row;
  }
  main #about .container .about-content .about-card .card-item {
    width: 33%;
    margin-left: 10px;
  }
  main #about .container .about-content .about-card .card-item img {
    width: 100%;
  }
  main #about .container .about-content .about-card .card-item .card-item-title {
    flex-direction: column;
    height: 100px;
  }
  main #about .container .about-content .about-card .card-item .card-item-title li {
    text-align: center;
  }
  main #store {
    height: auto;
  }
  main #store .container .store-content {
    padding: 30px 0;
  }
  main #store .container .store-content .store-title h1 {
    font-size: 40px;
  }
  main #store .container .store-content .store-title h1 span {
    font-size: 40px;
  }
  main #store .container .store-content .store-card .store-card-item {
    width: 30%;
  }
  main #store .container .store-content .store-card .store-card-item figure img {
    width: 100%;
  }
  main #store .container .store-content .store-card .store-card-item figure figcaption h4 {
    font-size: 20px;
  }
  main #store .container .store-content .store-card .store-card-item figure figcaption span {
    font-size: 20px;
  }
  main #store .container .store-content .store-card .store-card-item button {
    margin-top: 20px;
  }
}/*# sourceMappingURL=style.css.map */