*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}
.container{
    max-width: 90%;
    margin: 0 auto;
}
@mixin flex-between{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@mixin flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
header{
    width: 100%;
    height: 90px;
    background:  #FFFCF9;
    position: absolute;
    top: 0;
    left: 0;
    .container{
        .header-content{
            height: 90px;
            @include flex-between();           
            nav{
                ul{
                    display: flex;
                    align-items: center;
                    li{
                        margin-left: 30px;
                        a{
                            color: #000;
                            font-size: 16px;
                            font-family:  'Red Hat Display', sans-serif;
                        }
                    }
                }
            }
            .cart{
                ul{
                    display: flex;
                    align-items: center;
                    li{
                        margin-left: 25px; 
                        a{
                            color: #000;
                        }
                    }
                    .cart-icon{
                        width: 44px;
                        height: 44px;
                        border-radius: 50%;
                        background-color: #FF860D;
                        @include flex-center();
                        a{
                           color: white;
                           font-size: 18px;
                        }
                    }
                }
            }
            .menu{
                display: none;
                color: #FF860D;
                font-size: 25px;
            }
        }
    }
}




//responsive mobil

@media (min-width:320px) and (max-width:480px){
    header{
        .container{
            .header-content{
                nav{
                    display: none;
                }
                .cart{
                    display: none;
                }
                .menu{
                    display: block;
                }
            }
        }
    }
}


//responsive tablet 
@media (min-width:481px) and (max-width:768px){
    header{
        .container{
            .header-content{
                nav{
                    display: none;
                }
                .cart{
                    display: none;
                }
                .menu{
                    display: block;
                }
            }
        }
    }
}